body{
    margin: 0;
}

header{
    background-image: url(Ativo4.png);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

h1{
    padding-top: 20px;
    margin: 0;
}
header > p{
    margin-top: 10px;
}

.links1{
    margin-top: 20px;
    width: 60%;
    display: flex;
    justify-content: space-around;
}

a{
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;

}

a:hover{
    background-color: rgba(39, 30, 26, 0.651);
    border-radius: 20px;
    border: 5px solid rgba(39, 30, 26, 0);
}

.container{
    margin-left: 5%;
    margin-right: 5%;
}